@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Đảm bảo toàn bộ trang không bị cuộn */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Full chiều cao màn hình */
}

.site-header {
  height: 60px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Nằm trên bản đồ */
}

.site-content {
  flex: 1;
  /* Chiếm toàn bộ phần còn lại giữa Header và Footer */
  position: relative;
}

.site-footer {
  height: 25px;
  background: #f0f0f0;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}